# FIRE 

This notebook will try to answer the following questions:

- Given my current savings, the monthly amount I can save, and the annual return on investment, how many years will it take me to reach financial independence?
- Given my current savings, and given a fact I'm taking holidays indefinitely, how many months will my savings last

In [5]:
import datetime

In [9]:
# input

stock_investments = 100_000
bonds_investments = 0
properties_investments = 0
properties_income = 0
combined_mortage_to_pay = 0
combined_mortage_rate = 0.08
combined_mortage_years = 0

cash = 100_000
return_rate_from_investment = 0.04
investment_tax_rate = 0.19
monthly_expenses = -10_000
monthly_income = 0
now = datetime.datetime.now()

# what do I need to do now?
# let's loo

In [17]:
import pandas as pd

df = pd.DataFrame({
    'date': [now],
    'stock_investments': [stock_investments],
    'bonds_investments': [bonds_investments],
    'properties_investments': [properties_investments],
    'properties_income': [properties_income],
    'combined_mortgage_to_pay': [combined_mortage_to_pay],
    'cash':[cash]
    'wealth': [stock_investments + bonds_investments + properties_investments + properties_income + cash],
})

df

,date,stock_investments,bonds_investments,properties_investments,properties_income,combined_mortgage_to_pay,cash
0,2024-03-27 14:52:05.175395,100000,0,0,0,0,-3.160570e+12

In [ ]:
def next_month(last_row):
    """what will change in the next month?
    
    if my monthly expenses are greater than my monthly income, I will have to take money from the following sources:
    - cash if there's any cash
    - investments if there's no cash
    - if there's no cash and no investments, I will have to take a loan or sell my properties

    mortgage payments are not included in the monthly expenses, so they will be paid from the cash or investments:
    - if there's cash, I will pay the mortgage from the cash
    - if there's no cash, I will pay the mortgage from the investments

    This is the sequence of events:
    - add any kind of income to the cash
    - check whether the cash is enough to cover the monthly expenses
    - if the cash is not enough, take the remaining amount from the investments
    - if there's no cash and no investments, sell the properties or take a loan
    """

    new_cash = last_row['cash'] + monthly_income
    stock_investments = last_row['stock_investments']

    if new_cash >= monthly_expenses:
        new_cash -= monthly_expenses
    else:
        missing_cash = monthly_expenses - new_cash

        if stock_investments >= missing_cash:
            stock_investments -= missing_cash/ (1 - investment_tax_rate)
            new_cash += missing_cash

        else:
            print('I need to sell properties or take a loan')

    new_cash -= combined_mortage_to_pay

In [18]:
months_to_simulate = 24 # For example, simulate next two years.

for i in range(1, months_to_simulate+1):
    last_row=df.iloc[-1].copy() # Get last row to update values
    
    investment_return = (last_row['stock_investments'])*(return_rate_from_investment/12) * (1-investment_tax_rate)

    last_row['stock_investments'] += investment_return

    cash = last_row['cash']
    
    net_cash_flow=cash + last_row[stock_investments] + monthly_expenses + monthly_income
    
    last_row['wealth']+=net_cash_flow
    
    last_row['date']=last_row['date']+pd.DateOffset(months=i)
    temp_df = pd.DataFrame(last_row).T

    df = pd.concat([df, temp_df], ignore_index=True)

    # df=df.append(last_row, ignore_index=True)

df

,date,stock_investments,bonds_investments,properties_investments,properties_income,combined_mortgage_to_pay,cash
0,2024-03-27 14:52:05.175395,100000,0,0,0,0,-3160569694596.820801
1,2024-04-27 14:52:05.175395,100270.0,0,0,0,0,-6321139398923.641602
2,2024-06-27 14:52:05.175395,100540.729,0,0,0,0,-12642278807576.554688
3,2024-09-27 14:52:05.175395,100812.188968,0,0,0,0,-25284557624881.648438
4,2025-01-27 14:52:05.175395,101084.381879,0,0,0,0,-50569115259491.109375
5,2025-06-27 14:52:05.175395,101357.30971,0,0,0,0,-101138230528709.28125
6,2025-12-27 14:52:05.175395,101630.974446,0,0,0,0,-202276461067144.875
7,2026-07-27 14:52:05.175395,101905.378077,0,0,0,0,-404552922144015.375
8,2027-03-27 14:52:05.175395,102180.522598,0,0,0,0,-809105844297755.625
9,2027-12-27 14:52:05.175395,102456.410009,0,0,0,0,-1618211688605235.5
10,2028-10-27 14:52:05.175395,102733.042316,0,0,0,0,-3236423377220194.0
11,2029-09-27 14:52:05.175395,103010.42153,0,0,0,0,-6472846754450110.0
12,2030-09-27 14:52:05.175395,103288.549668,0,0,0,0,-12945693508909942.0
13,2031-10-27 14:52:05.175395,103567.428752,0,0,0,0,-25891387017829608.0
14,2032-12-27 14:52:05.175395,103847.06081,0,0,0,0,-51782774035668936.0
15,2034-03-27 14:52:05.175395,104127.447874,0,0,0,0,-103565548071347584.0
16,2035-07-27 14:52:05.175395,104408.591983,0,0,0,0,-207131096142704896.0
17,2036-12-27 14:52:05.175395,104690.495182,0,0,0,0,-414262192285419520.0
18,2038-06-27 14:52:05.175395,104973.159519,0,0,0,0,-828524384570848768.0
19,2040-01-27 14:52:05.175395,105256.587049,0,0,0,0,-1657048769141707264.0
20,2041-09-27 14:52:05.175395,105540.779834,0,0,0,0,-3314097538283424256.0
21,2043-06-27 14:52:05.175395,105825.73994,0,0,0,0,-6628195076566857728.0
22,2045-04-27 14:52:05.175395,106111.469438,0,0,0,0,-13256390153133725696.0
23,2047-03-27 14:52:05.175395,106397.970405,0,0,0,0,-26512780306267463680.0
24,2049-03-27 14:52:05.175395,106685.244925,0,0,0,0,-53025560612534935552.0

In [ ]:
df